* {
  border: 0;
  padding: 0;
  margin: 0;
}

.App {
  /*background-color: #b600ff;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  /*align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);*/
  /*color: white;*/
}
