/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
}

.content {
    width: 800px;
    height: 400px;
    background: white;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 2000;
}

.title {
    position: absolute;
    top: 10%;
    font-size: 22px;
}

.description {
    position: absolute;
    top: 30%;
    font-size: 16px;
}

.form{
    position: absolute;
    bottom: 15%;
    width: 100%;
    display: flex;
    align-items: center;
}

.addButton {
    width: 100px;
    height: 60px;
    background: #4285f5;
    font-family: proximanova-regular,Arial,sans-serif;
    font-weight: 400;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    text-align: center;
    transition: background-color .23s ease-out;
    margin-left: 25px;
}

.closeButton {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 50px;
    height: 50px;
}

input[type="number"] {
    background-color: #eee;
    vertical-align: top;
    outline: none;
    padding: 0;
    height: 60px;
    width: 240px;
    line-height: 40px;
    text-indent: 10px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #4285f5;
    font-size: 18px;
    border-radius: 3px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input[type="number"]:focus {
    outline: 2px solid #4285f5;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.addButton:hover {
    cursor: pointer;
}

.closeButton:hover {
    cursor: pointer;
}