.table__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
    width: 800px;
    height: 100px;
}

.row__name {
    display: flex;
    flex-direction: column;
}

.fullName {
    font-size: 18px;
    margin-bottom: 5px;
    color: #404357;
}

.shortName {
    font-size: 12px;
    color: #6b7192;
}

.row__price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row__change24h {
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
}

.row__buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy__button {
    width: 100px;
    height: 50px;
    background: #4285f5;
    font-family: proximanova-regular,Arial,sans-serif;
    font-weight: 400;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    text-align: center;
    transition: background-color .23s ease-out;
}

.row__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.buy__button:hover {
    cursor: pointer;
}

.table__row:hover {
    cursor: pointer;
    background: radial-gradient(50% 4232% at 50% 50%,#f4f5fb 0,rgba(244,245,251,.9) 60.94%,rgba(244,245,251,0) 100%);
}

@media (max-width: 800px) {
    .table__row {
        width: 400px;
        justify-content: space-evenly;
    }
}

@media (max-width: 400px) {
    .row__price {
        display: none;
    }
    .row__change24h {
        display: none;
    }

    .table__row {
        width: 100%;
    }

    .row__wrapper {
        justify-content: space-evenly;
    }

    .buy__button {
        width: 80px;
        height: 40px;
    }
}